@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'GS';
    src: url('../fonts/GmarketSansTTFMedium.ttf') format('ttf');
    font-display: swap;
  }
  @font-face {
    font-family: 'GS_Light';
    src: url('../fonts/GmarketSansTTFLight.ttf') format('ttf');
    font-display: swap;
  }
  @font-face {
    font-family: 'GS_Bold';
    src: url('../fonts/GmarketSansTTFBold.ttf') format('ttf');
    font-display: swap;
  }

  html {
    font-family:
      'GS',
      ui-sans-serif,
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      'Helvetica Neue',
      Arial,
      'Noto Sans',
      sans-serif,
      'Apple Color Emoji',
      'Segoe UI Emoji',
      'Segoe UI Symbol',
      'Noto Color Emoji';
  }
}
